@media (max-width: 1000px) {
  .navbar {
    display: none;  
  }

  .hamburger {
    display: block;  
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: .2rem;
}
